{% extends 'admin1180/admin_base.html' %}
{% load static %}
{% block title %}creditor{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/creditor_detail.css' %}"> {% endblock css %}
     
{% block body %}
  <div class="creditor-container">
   {% comment %} <h2>My Profile</h2> {% endcomment %}

    <div class="user-profile-pic">
        {% if admin_user.profile_pic %}
            <img class="text-center" src="{{ admin_user.profile_pic.url }}" alt="Profile Picture">
        {% else %}
            {% comment %} <i class="fa-solid fa-user"></i> {% endcomment %}
            <img class="text-center"  src="{% static 'images/profile_pic1.jpg' %}" alt="Default Profile">
        {% endif %}
    </div>

    <div class="creditor-detail">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>{{ user.first_name}} {{ user.last_name}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ admin_user.address }}</td>
                </tr>
                 <tr>
                    <th>Mobile</th>
                    <td>{{ admin_user.mobile }}</td>
                </tr>
                 <tr>
                    <th>Email</th>
                    <td>{{ admin_user.email }}</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="password-chg">
          <a href="{% url 'admin_password_change' %}" class="btn-change-password">Change Password</a>
    </div>
  </div>
{% endblock %}
